<footer class="footer py-3 bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    &#x24B8; 2024 | Designed and coded with &#128150; by Sachin Dimri
  </div>
  <!-- Copyright -->
</footer>